p{
    font-family: arial;
    font-size: 14px;
    margin: 0;
}
.q{
    font-weight: bold;
    margin-bottom: 8px;
}
.w{
    color: rgb(165, 163, 163); 
}
.e{
    width: 400px;
}
.r{
    margin-top: 14px;
}
.t
{
    color: rgb(0, 85, 255);
}