.amazon{
    background-color: rgb(255,216,20);
    color: black;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-right: 48.3125px;
    padding-left: 48.3125px;
    border-radius: 18.5px;
    cursor:pointer;
    border: none;
    font-size: 16px;
    transition: background-color 0.15s;
    }
    .amazon:hover{
    background-color:rgb(255, 184, 20);
    }   